.contaner1 {
    width:100%;
    display: flex;
    flex-direction:row;
    flex-wrap:no-wrap;
    justify-content: space-between;
  }
  .logo {
    width:10%;
  }
  .fashion{
    
    width:10%;
  }
  .beauty{
    width:10%;
  
  }
  .culture {
    width:10%;
  }
      
  .lifestyle{
    width:10%;
  }
      
  .jewellery{
    width:10%;
  }
  .search {
    width:10%;
  
  }
  .nav {
    width:10%;
   
  }
  .container2{
    width:100%;
    position: relative;
  }
  .newin {
    width:100%;
    display:flex;
    flex-direction: flex-start;
    margin-bottom: 0;
    padding-bottom: 2%;
  }
  .container3{
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-top:0;
    margin-bottom:0;
  }
  .text1{
    width:48%;
  
  }
  .text2{
    width:48%;
  
  }
  .container4{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  .text3{
     width:33%;
  }
  .text4{
     width:33%;
  }
  .text5{
     width:33%;
  }
  .container5{
    width:80%;
    display:flex;
    justify-content: space-between;
    position: relative;
  
  }
  .circle1{
    clip-path: circle(37%);
    width:60%;
   
  }
  .circle2{
    clip-path: circle(37%);
    width:60%;
  }
  .container6{
    position: relative;
    width:80%;
    display:flex;
    justify-content: space-between;
    
  }
  .circle3{
    clip-path: circle(37%);
    width:60%;
   
  }
  .circle4{
    clip-path: circle(37%);
    width:60%;
   
  }
  .newinfashion{
    width:100%;
    
  }
  
  
  img {
    width:100%;
  }
  
  body {
    margin-top:8%;
    margin-right: 6%;
    margin-left:6%;
    background: linear-gradient(white, pink);
  }
  p {
    text-align: center;
    padding-bottom: 15%;
    font-family: Georgia;
    color: black;
    font-size:2vw;
    text-decoration: none;
  }
  
  
  .text-block {
      position: absolute;
    bottom:0;
    right: 5px;
    background-color: transparent;
    color: white;
    padding-left:0;
    padding-right: 10%;
    padding-bottom: 2%;
  }
  
  h1{
    position: absolute;
    bottom: 40%;
  left: 10%;
    background-color: transparent;
    color: white;
    padding-left: 0;
    padding-right: 0;
  }
  @media  (max-width: 600px){
   .container4 {
     display: flex;
     flex-direction: column;
    margin-left: 10%;
    margin-right: 25%;
     
      
    }
    
  }
 
  @media  (max-width: 600px){
    .container3 {
      display: flex;
      flex-direction: column;
      
      
       
     }
     
   }
  
   @media  (max-width: 600px){
    .text1, .text2, .text3, .text4, .text5 {
       
        width:80%;
        margin-left: 10%;
        margin-right: 25%;
    
       
     }
     
   }
   @media only screen and (max-width: 600px){
    .text3, .text4, .text5 {
       
      margin-left: 0%;
      margin-right: 20%;
       
     }
     
   }
   @media  (max-width: 600px){
    .container5,  .container6 {
       
        width:100%;
       
     }
     
   }
   @media  (max-width: 600px){
    .newin,  .newinfashion {
        justify-content: center;
        font-size: 5vw;


       
     }
    
   }

   @media  (max-width: 600px){
    h1 {
    
        font-size: xx-large;


       
     }
    
   }
   
 
 